.app-bar{
    background-color: black !important;
    border: none !important;
    box-shadow: none !important ;
    position: fixed;
    top: 0;
}

.brand{
    color:white;
    font-weight: 700 !important;
    font-size: 25px;
}

.nav-link{
    width: 50%;
    margin: auto;
}